html {
    height: 100%;
    width: 100%;
  }
  
  #joke{ 
    background-color: #e6e9e8;
    color:black ;
    height: 200px;
    display: flex;
    justify-content:center;
    align-items:center;
    font-size:24px;
      opacity:0.3;
  }
  #generatebtn{
    background-color: #fd0d0dc7;
    font-size: 1rem;
    border: 1px solid black;
  }
  #btn{
    display: flex;
    align-items: center;
    justify-content: center;
  }
.container {
      background: url(https://c4.wallpaperflare.com/wallpaper/434/309/126/minimalism-cat-funny-digital-art-artwork-hd-wallpaper-preview.jpg)no-repeat center/cover;
  height:620px;
  }
